[MASTER]
# Use multiple processes to speed up Pylint.
jobs=1

# Pickle collected data for later comparisons.
persistent=yes

# When enabled, pylint would attempt to guess common misconfiguration and emit
# user-friendly hints instead of false-positive error messages.
suggestion-mode=yes

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=
    consider-using-from-import,
    import-outside-toplevel,
    invalid-name,
    no-member,
    too-few-public-methods,
    too-many-ancestors,
    unused-import

[REPORTS]
# Set the output format.
output-format=text

# Tells whether to display a full report or only the messages.
reports=no

# Activate the evaluation score.
score=yes

[REFACTORING]
# Maximum number of nested blocks for function / method body
max-nested-blocks=5

[BASIC]
# Good variable names which should always be accepted, separated by a comma.
good-names=i,j,k,ex,Run,_,id,pk

# Include a hint for the correct naming format with invalid-name.
include-naming-hint=no

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

# Maximum number of lines in a module.
max-module-lines=1500

[DESIGN]
# Maximum number of arguments for function / method.
max-args=5

# Maximum number of attributes for a class (see R0902).
max-attributes=7

# Maximum number of boolean expressions in an if statement.
max-bool-expr=5

# Maximum number of branch for function / method body.
max-branches=12

# Maximum number of locals for function / method body.
max-locals=15

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of public methods for a class (see R0904).
max-public-methods=20

# Maximum number of return / yield for function / method body.
max-returns=6

# Maximum number of statements in function / method body.
max-statements=50

# Minimum number of public methods for a class (see R0903).
min-public-methods=2

[IMPORTS]
# Deprecated modules which should not be used, separated by a comma.
deprecated-modules=

[EXCEPTIONS]
# Exceptions that will emit a warning when being caught.
overgeneral-exceptions=BaseException,Exception
